@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}



a {
    color: white;
    text-decoration: none; 
    transition: 0,35ms;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.top-info-bar {
    height: 40px; 
    padding: 8px 15px;
    background-color: #00c5cc;
    color: white;
}

.top-info-bar a i:hover {
    color: #000;
    text-decoration: none;
}

.top-info-bar span {
   font-weight: normal;
}

.top-info-bar span.text-underline {
   text-decoration: underline;
}

.header {
   background-color: rgba(0, 0, 0, 0.75);
}

.header .logo {
   height: 50px;
}

.header nav ul {
   margin: 0;
   padding: 0;
}

.header nav ul li {
   margin: 0 15px;
   transition: 0.35ms;
}

.header nav ul a {
   color: black;
   text-decoration: none;
   font-weight: bold;
   transition: 0,25ms;
}



li{
    transition: 0.35ms;
    padding: 10px;
}

li:hover{
    color: #000;
    text-decoration: none;
    background-color:#00c5cc ;
    border-radius:5%;
}

.banner {
    padding: 300px 15px;
    background-image: url('img/background.jpg');
    background-size: cover; 
    background-position: center;
}

.banner .banner-text {
   text-align: center;
   text-shadow: 2px -2px 6px rgba(0, 0, 0, 1);
   font-family: 'Open Sans';
}

.banner .banner-text h1 {
   font-size: 80px;
   color: white;
}

.banner .btn-blue {
   background-color: #00c5cc;
   color: white; 
   border-radius: 5px;
   padding: 10px 20px;
   transition: 0.35ms;
}

.banner .btn-blue:hover{
    color:#00c5cc;
    background-color: #333;
    text-shadow: #00d9e0;
}

.novidades {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.titulo {
    font-size: 2rem;
    color: #00d9e0;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 40px;
}

.museu-section .titulo {
    text-align: center;
    margin-bottom: 40px;
}

.novidades-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
}

.card {
    background: linear-gradient(to bottom, #00d9e0, #0077be);
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.card:hover .card-title,
.card:hover .card-arrow {
    color: black;
}


.card img {
    height: 90%;
    display: block;
    margin: 0 auto;
}

.card-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
    text-align: left;
}

.card-arrow {
    content: '➤';
    margin-left: 5px;
    transition: transform 0.3s ease;
    color: white;
}

.card:hover .card-arrow {
    transform: translateX(5px);
}

.btn-todas-novidades {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #00c5cc, #0077be);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-image 0.3s;
}

.btn-todas-novidades:hover {
    background-image: linear-gradient(to bottom, #00c5cc, #006ca8);
}

.museu-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
  
.titulo {
    font-size: 3rem;
    color: #00c5cc;
    margin-bottom: 40px;
}
  
.museu-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
  
.imagem-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.texto-container {
    text-align: justify;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}
  
.texto-container p {
    margin-bottom: 15px;
    text-align: justify;
}

.separador {
    border-bottom: 2px solid black;
    margin-bottom: 40px;
}

.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.carrossel {
    display: flex;
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}
  
.carrossel img {
    height: auto;
    width: 100%; 
    object-fit: cover; 
    max-height: 300px;
}
  
.texto {
    padding: 60px; 
    margin: 2px 40px; 
    font-size: 1rem;
    color: #333;
    line-height: 1.8;
    text-align: justify;
}
  
.texto p {
    margin-bottom: 15px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 20px;
}

.map {
    flex: 1;
    min-width: 300px;
}

.map iframe {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255,255,255,0.1);
    width: 100%;
    height: 200px;
}

.footer-info {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

.info h3 {
    color: #00c5cc;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.info p {
    color: #fff;
    margin-bottom: 5px;
}

.social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-social {
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    font-size: 14px;
}

.btn-social:hover {
    opacity: 0.8;
}

.btn-social i {
    margin-right: 8px;
    font-size: 18px;
}

.btn-social.btn-youtube {
    background-color: #FF0000;
}

.btn-social.btn-facebook {
    background-color: #3B5998;
}

.btn-social.btn-instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.parceiros {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.parceiros h3 {
    color: #00c5cc;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.parceiros-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.parceiros-logos img {
    max-width: 100;
    height: 100;
    object-fit: contain;
    transition: filter 0.3s ease;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .map, .footer-info, .parceiros {
        width: 100%;
    }

    .info {
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .parceiros-logos {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .novidades-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .novidades-grid {
        grid-template-columns: 1fr;
    }
}



form {
    display: flex;
    flex-direction:column;
    max-width: 600px;
    margin: 0 auto;
    background-color:white; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #00c5cc ; 
    border-radius: 4px;
    transition: border 0.3s ease;
    box-sizing: border-box;
    resize: vertical;
}

input:focus, textarea:focus {
    border-color: #00c5cc; 
}

button {
    padding: 12px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #00c5cc; 
    transform: scale(1.05);
}


.contacto{
    display: flex;
}