USE [master]
GO
/****** Object:  Database [Mm-Sever]    Script Date: 13/01/2025 11:16:07 ******/
CREATE DATABASE [Mm-Sever]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mm-Sever', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Mm-Sever.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mm-Sever_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Mm-Sever_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mm-Sever].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mm-Sever]
GO
/****** Object:  Table [dbo].[Arquivo]    Script Date: 13/01/2025 11:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo](
	[Id_documento] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Autor] [varchar](255) NOT NULL,
	[Data_publicacao] [date] NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Url] [varchar](255) NULL,
	[Id_exposicao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 13/01/2025 11:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Id_evento] [int] NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Imagem] [varchar](255) NOT NULL,
	[Data] [date] NOT NULL,
	[Horario] [time](7) NOT NULL,
	[Id_exposicao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exposições]    Script Date: 13/01/2025 11:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exposições](
	[Id_exposicao] [int] NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[Descricao] [varchar](max) NOT NULL,
	[Imagem] [varchar](255) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Data_inicio] [date] NULL,
	[Data_fim] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_exposicao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arquivo]  WITH CHECK ADD  CONSTRAINT [FK_Arquivo_Exposições] FOREIGN KEY([Id_exposicao])
REFERENCES [dbo].[Exposições] ([Id_exposicao])
GO
ALTER TABLE [dbo].[Arquivo] CHECK CONSTRAINT [FK_Arquivo_Exposições]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Exposições] FOREIGN KEY([Id_exposicao])
REFERENCES [dbo].[Exposições] ([Id_exposicao])
GO
ALTER TABLE [dbo].[Eventos] CHECK CONSTRAINT [FK_Eventos_Exposições]
GO
USE [master]
GO
